*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Lato, sans-serif;
}

.main-container{
    max-width: 1280px;
    margin: 0 auto;
}

.first-container{
    padding: 9.6rem 0 0 3rem;
    border-bottom: 8px solid #999999;
}

.grid-container{
    display: grid;
    font-size: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 38.2rem;   
}

.heading-text-1{
    font-size: 3.2rem;
    font-weight: 800;
    width: 18rem;
}

.paragraph-text-1{
    line-height: 150%;
    width: 41.5rem;
}

.colored-text{
    color: #009966;
    font-weight: 800;
}

.second-container{
    background-color: #666666;
    height: 45rem;
    display: flex;
}    

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.7rem;
    background-color: #fff;
    height: 32rem;
    width: 81rem;
    margin: auto auto;
    position: relative;
    box-shadow: 0 4px 4px 0 #999999;
}

.paragraph-text-2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    width: 95%;
}

.paragraph-text-3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    width: 95%;
}

.positioned-container{
    position: absolute;
    top: 8px;
    left: -10px;
    width: 40rem;
    border-bottom: 8px solid #CC9900;
    background-color: #FFBF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positioned-paragraph{
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 120%;
    padding: .5rem;
}

@media (max-width: 50.875rem){
    /* 814px / 16px = 50.875rem */

    html{
        font-size: 56.25%;
    }

    .positioned-container{
        left: 0;
        margin-bottom: 1.5rem;
    }

    .first-container{
        padding: 9.6rem 0 0 2.4rem;
    }

    .second-container{
        height: 45.6rem;
    }

    .paragraph-text-2{
        font-size: 1.8rem;
        padding-top: 7.5rem;
    }

    .paragraph-text-3{
        font-size: 1.8rem;
    }    
}

@media (max-width: 40.25rem) {
    /* 644px / 16px = 40.25rem */

    html{
        font-size: 50%;
    }

    .first-container{
        padding: 6rem 0 0 1.5rem;
    }

    .second-container{
        width: 100%;
    }

    .content-container{
        height: 80%;
        width: 100%;
    }
}

@media (max-width: 35.625rem) {
    /* 570px / 16px = 35.635rem */

    .second-container{
        height: 70rem;
    }

    .paragraph-text-2, .paragraph-text-3{
        font-size: 2rem;
    }

    .break-tag{
        display: none;
    }
}

@media (max-width: 24.375rem) {
    /* 390px / 16px = 24.375rem */

    .second-container{
        height: 76.7rem;
    }

    .content-container{
        height: 70%;
        width: 100%;
    }
    .positioned-container{
        width: 85%;
    }
} 